# A l'hora de fer commit ignora els arxius en binari resultants de complirar el programa #
*.x
# Ignorem la carpeta del segon MOCK_EXAM ja que no estan resolts tots els exercicis. #
Q1/PRO1/MOCK_EXAM2/
Q2/PRO2/LAB/pro2